# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/keeper_db"

# JWT Secret Key
JWT_SECRET="keeper_jwt_secret_dev_key_2026_xyz"

# Port & Environment
PORT=4000
NODE_ENV=development
